<header id="containerHeader">

  <img src="img/logo.png" alt="Logo" id="logo" />

  <nav>
    <button>Home</button>
    <button>Chat</button>
    <button>Static</button>
    <button>Contacto</button>
  </nav>

</header>