<header id="containerHeader">

  <img src="img/1693103733901Hadita.png" alt="Logo" id="logo" />

  <nav id="navBar">
    <button>Home</button>
    <button>Chat</button>
    <button>Sobre mi</button>
    <button>Contacto</button>
  </nav>

</header>